/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #22223B;
  color: #FDF0D5;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.stream-deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 10px; /* Gap between buttons */
}

.button {
  background-color: #BB0A21;
  color: #FDF0D5;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #F18805;
}

.bottom-panel {
  background-color: #8A95A5;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.sidebar {
  flex-grow: 1;
  background-color: #8A95A5;
  padding: 20px;
  border-radius: 5px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin-top: 0;
}

.action-list {
  flex-grow: 1; /* Fill remaining space */
  overflow-y: auto; /* Add scrollbar if content overflows */
}

.action {
  margin-bottom: 10px;
}
